extends layout

block content
  header
    .contents
      h3 April 11- 12
      h1 TID Workshop 2014
      .attend.btn Attend!
    .background
      .overlay
      img(src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/t31/882653_10152719154485297_1974461747_o.jpg")
