extends layout

block content
  header
    .contents
      h3 April 11- 12
      h1 TID Workshop 2014
      a.attend.btn(href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=L5S8643GZGLBE", target="_blank") Attend!
    .background
      .overlay
      img(src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/t31/882653_10152719154485297_1974461747_o.jpg")
  main
    .col-half
      h4 hotel information
      p.
        Quality Inn
      p.
        1740 North Fordham Blvd.
      p.
        Chapel Hill, NC 27514
      p.
        (919) 968-3000
      p.
        GM.NC694@choicehotels.com
      p.tiny.
        In order to receive the special TID Workshop rate please book before March 10, 2014. Only 50 rooms available at this rate.
    .col-half
      h4 location
      p On the campus of The University of North Carolina, Chapel Hill
    .cl
    .col-half
      h4 Faculty
      ul.staff-list
        li
          .name Michael Wichita
          p.bio Director of Photography, AARP
        li
          .name Matt Eich
          p.bio Photographer, Norfolk, Virginia
        li
          .name Chris Capozziello
          p.bio Photographer, Connecticut
        li
          .name Deb Pang Davis
          p.bio Assistant Professor, Multimedia Photography & Design, S.I. Newhouse School of Public Communications at Syracuse University.
        li
          .name Eric Maierson
          p.bio writer, producer, editor
    .col-half.second-staff
      h4 -
      ul.staff-list
        li
          .name Jahi Chikwendiu
          p.bio Staff Photographer, The Washington Post
        li
          .name Mike Davis
          p.bio Photography editor and Alexia Chair for Documentary Photography at the S.I. Newhouse School of Public Communications at Syracuse University.
        li
          .name Rich Glickstein
          p.bio Addiction and Trauma Therapist, Talbott Recovery Campus in Georgia.
        li
          .name Emily Schiffer
          p.bio.
            documentary photographer interested in the intersection of art, social change, and audience engagement.

    .cl
    .col-half
      h4 Contacts
      ul.contacts
        li
          a(href="mailto:Jared.soares@gmail.com") Jared.soares@gmail.com
        li
          a(href="mailto:Logan@imagedeconstructed.com") Logan@imagedeconstructed.com
