extends layout

block content
  header
    .contents
      h3 April 11- 12
      h1 TID Workshop 2014
      .attend.btn Attend!
    .background
      .overlay
      img(src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/t31/882653_10152719154485297_1974461747_o.jpg")
  main
    .col-half
      h4 Staff
      ul.staff-list
        li
          .name Michael Wichita
          p.bio Director of Photography, AARP
        li
          .name Matt Eich
          p.bio Photographer, Norfolk, Virginia
        li
          .name Chris Capozziello
          p.bio Photographer, Connecticut
        li
          .name Deb Pang Davis
          p.bio Assistant Professor, Multimedia Photography & Design, S.I. Newhouse School of Public Communications at Syracuse University.
    .col-half
      ul.staff-list
        li
          .name Jahi Chikwendiu
          p.bio Staff Photographer, The Washington Post
        li
          .name Mike Davis
          p.bio Photography editor and Alexia Chair for Documentary Photography at the S.I. Newhouse School of Public Communications at Syracuse University.
        li
          .name Rich Glickstein
          p.bio Addiction and Trauma Therapist, Talbott Recovery Campus in Georgia.
    .cl
    .col-half
      h4 location
      p On the campus of The University of North Carolina, Chapel Hil
    .col-half
      h4 hotel information
      p.
        Quality Inn
      p.
        1740 North Fordham Blvd.
      p.
        Chapel Hill, NC 27514
      p.
        (919) 968-3000
      p.
        GM.NC694@choicehotels.com

